body {
  font-family: "Avenir Next";
}

span{
  color: #b378b3
}
.header-list {
  list-style: none;
  float: right;
  /* Ubahlah padding atas & bawah ke 33px, dan padding kiri & kanan ke 20px */
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 10px 20px 10px;
  /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kanan ke 40px */
  
}

.main {
  background-color: #bdf7f1;
  height: 1250px;
}

.footer {
  background-color: #ceccf3;
  height: 300px; 
}

.footer-logo {
  float: left;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
}

.footer-list {
  list-style: ;
}
